{{#liquid-tether             
  target=tetherTarget  
  targetModifier="visible"   
  attachment=tetherAttachment
  targetAttachment=tetherTargetAttachment
  class=tetherClass
  overlayClass="modal-backdrop"
  on-overlay-click=(action overlayClick)
}}  
  <div class="modal-content">
    <div class="modal-header">
      <h4>{{act.text}} {{model.parent.__str__}}</h4>
    </div>
    <div class="modal-body">
      {{change-form
        model=model
        fieldsets=params
        noButtons=true
        fetch_meta=false
        tetherClass=tetherClass
        tetherTarget=tetherTarget
        tetherAttachment=tetherAttachment
        tetherTargetAttachment=tetherTargetAttachment
        languages=languages
      }}
    </div>
    <div class="modal-footer">
      <button class="{{act.btn_class}} pull-right" {{action (perform doRqst (action-url act.url model.parent.id) act model)}} disabled={{buttonsDisabled}}>
        {{#if doRsqt.isRunning}}
          <i class="fa fa-spinner fa-spin"></i>
        {{else}}
          <i class={{act.icon_class}}></i>
        {{/if}}
        &nbsp;&nbsp;{{act.text}}
      </button>
      <button class="btn btn-default pull-left" {{action 'cancel'}} disabled={{modalButtonsDisabled}}>
        <i class="fa fa-reply"></i>
        &nbsp;&nbsp;Cancel
      </button>
    </div>
  </div>
{{/liquid-tether}}
