{{#each model as |application|}}
  {{#if (or (not only) (eq only application.name))}}
    <table class="table table-striped table-condensed">
      <tr class="inverse">
        <th colspan="3">
          {{#if appRoute}}
            <a href={{href-to appRoute application.name}}>{{capitalize application.name}}</a>
          {{else}}
            {{capitalize application.name}}
          {{/if}}
        </th>
      </tr>
      <tbody>
        {{#each application.models as |model|}}
          <tr>
            {{#if changeListRoute}}
              <td><a href={{href-to changeListRoute application.name model.singular}}>{{capitalize model.name}}</a></td>
              <td width="85"><a href={{href-to changeListRoute application.name model.singular}} class="btn btn-default list"><i class="fa fa-list"></i>&nbsp;&nbsp;List</a></td>
            {{else}}
              <td>{{capitalize model.name}}</td>
            {{/if}}
            {{#if changeFormRoute}}
              <td width="85"><a href={{href-to changeFormRoute application.name model.singular 'new'}} class="btn btn-success add"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add</a></td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
{{else}}
  Nothing to see here
{{/each}}
