{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  required=required
  field=field
  languages=languages
  as |language|
}}
  {{#if readonly}}
    <table>
      {{#each value as |val|}}
        <tr><td>{{get val choiceLabel}}</td></tr>
      {{/each}}
    </table>
  {{else}}
    <table width="100%">
      <tr>
        <th class="inverse" width="48%">Available</th>
        <th width=25>&nbsp;</th>
        <th class="inverse" width="48%">Selected</th>
      </tr>
      <tr>
        <td>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-search"></i>
            </span>
            <input class="form-control" value={{mut filter value='target.value'}} onkeyup={{action 'filter'}}>
          </div>
        </td>
        <td>
          &nbsp;
        </td>
        <td rowspan="5">
          <select multiple=true style="width: 100%; height: 100%" onchange={{action 'changeSelectedValue'}} required={{required}}>
            {{#each value as |val|}}
              <option value={{val.id}} selected={{array-contains selectedValue val}}>{{get val choiceLabel}}</option>
            {{/each}}
          </select>
        </td>
      </tr>
      <tr>
        <td rowspan="4">
          <select multiple=true style="width: 100%; height: 100%;" onchange={{action 'changeSelectedAvailable'}}>
            {{#each available as |av|}}
            <option value={{av.id}} selected={{array-contains selectedAvailable av}}>{{get av choiceLabel}}</option>
            {{/each}}
          </select>
        </td>
        <td align="center">
          {{#if extra.allowAdd}}
            <span onclick={{action addRelated extra.related_model this}}><i class="fa fa-plus"></i></span>
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
      <tr>
        <td align="center">
          <a {{action 'move' 'selectedAvailable' 'value'}}><i class="fa fa-play"></i></a>
        </td>
      </tr>
      <tr>
        <td align="center">
          <a {{action 'move' 'selectedValue' 'available'}}><i class="fa fa-play fa-flip-horizontal"></i></a>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <a {{action 'move' 'available' 'value'}}>
            Select all&nbsp;&nbsp;
            <i class="fa fa-forward"></i>
          </a>
        </td>
        <td></td>
        <td align="right">
          <a {{action 'move' 'value' 'available'}}>
            <i class="fa fa-backward"></i>
            &nbsp;&nbsp;Select none
          </a>
        </td>
      </tr>
    </table>
  {{/if}}
{{/base-widget}}
<div class="clearfix"></div>
