{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  required=required
  field=field
  languages=languages
  as |language|
}}
{{#if readonly}}
    {{get value choiceLabel}}
  {{else}}
    <div class="input-group {{if required 'required'}}">
      {{#power-select
        options=choices
        selected=value
        onchange=(action 'change')
        searchEnabled=extra.autoComplete
        search=(action 'search')
        placeholder=placeHolder
        allowClear=(not required)
        as |item|
      }}
        {{get item choiceLabel}}
      {{/power-select}}
      {{#if extra.expand}}
        <span class="input-group-addon" onclick={{action (toggle 'isExpanded' this)}}><i class="fa {{unless isExpanded 'fa-eye' 'fa-eye-slash'}}"></i></span>
      {{/if}}
      {{#if (and value extra.popup)}}
        <span class="input-group-addon" onclick={{action editRelated extra.related_model this}}><i class="fa fa-pencil"></i></span>
      {{/if}}
      {{#if extra.allowAdd}}
        <span class="input-group-addon" onclick={{action addRelated extra.related_model this}}><i class="fa fa-plus"></i></span>
      {{/if}}
      {{#if (and extra.linkOnValue value)}}
        <a class="input-group-addon" href={{href-to extra.linkOnValue linkApp linkModel value.id}}><i class="fa fa-arrow-right"></i></a>
      {{/if}}
    </div>
  {{/if}}
{{/base-widget}}
<div class="clearfix"></div>
{{#if isExpanded}}
  <div class="col-xs-12">
    {{form-fieldset
      model=(get model property)
      field=field
      label=null
      readonly=true
    }}
  </div>
{{/if}}
