{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  content=content
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
}}
  {{#if readonly}}
    {{#if value}}
      <a target="_blank" href={{value}}>{{value}}</a>
    {{/if}}
  {{else}}
    {{#if value}}
      <a target="_blank" href={{value}}>{{value}}</a>
    {{/if}}
    <div class="input-group">
      <input type="file" onchange={{action 'upload'}} placeholder={{placeholder}} class="form-control">
      {{#if (and extra.clearable value)}}
        <span class="input-group-addon" {{action 'clear'}}>
          <i class="fa fa-trash text-danger"></i>&nbsp;&nbsp;Clear
        </span>
      {{/if}}
    </div>
  {{/if}}
{{/base-widget}}

