{{#if is_ready}}
  <div class="table-responsive {{inputClass}}">
    {{#tomany-lines
      field=field
      sorted=(if (and field.extra.sortableBy (not readonly)) sorted related)
      related=related
      readonly=readonly
      inputClass=inputClass
      column_count=column_count
      padderColspan=padderColspan
      actionColumns=actionColumns
      addRelated=(action 'addRelated')
      popupAddRelated=(action 'popupAddRelated')
      labelsRow=true
      conditionalFormat=conditional_formatting
      as |record|
    }}
      {{#if (and field.extra.sortableBy (not readonly))}}
        <td width="45"><i class="fa fa-arrows-v handle btn"></i></td>
      {{/if}}
      {{#unless readonly}}
        <td width="45">
          <a class="btn" {{action 'deleteRelated' record on='click'}}>
            <i class="fa fa-trash text-danger"></i>
          </a>
        </td>
      {{/unless}}
      {{#each field.fields as |subfield|}}
        <td class="field">
          {{form-field
            field=subfield
            model=record
            horiClass=subfield.horiClass
            inputClass=subfield.horiClass
            class=innerClass
            formLayout='inline'
            addRelated=addRelated
            reloadIfFirst=true
            main=main
            readonly=(or readonly subfield.readonly)
            required=(or subfield.required (evaluate-condition field.extra.required_condition model))
          }}
        </td>
      {{/each}}
      {{#if field.extra.allowOpen}}
        <td width="45">
          <a {{action editRelated field.extra.related_model record true}} class="btn">
            <i class="fa fa-pencil text-info"></i>
          </a>
        </td>
      {{/if}}
      {{#each custom_actions as |act|}}
        <td width="45">
          {{#unless (or act.hide act.hideInList act.hideInTomany)}}
            {{custom-action
              act=act
              model=record
              expanded=false
              method=method
              request=rqst
              receiver=this
              main=main
              disabled=actionIsRunning
              performing=performing
            }}
          {{/unless}}
        </td>
      {{/each}}
    {{/tomany-lines}}
  </div>
{{else}}
  {{is-loading}}
{{/if}}
