{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  content=content
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  required=required
  field=field
  languages=languages
  as |language|
}}
  {{#if readonly}}
    {{markdown-to-html (get model (concat field.name language))}}
  {{else}}
    {{#if extra.sideBySide}}
      <div class="row side-by-side" style="margin-top: 36px;">
        <div class="col-xs-6 markdown description" style="overflow-y: auto; height:auto; max-height:{{mult rows 1.5}}em;">
          {{markdown-to-html (get model (concat field.name language))}}
        </div>
        <div class="col-xs-6 textarea">
          {{textarea class="form-control" rows=rows value=(mut (get model (concat field.name language))) required=required}}
        </div>
      </div>
    {{else}}
      <button class="{{if (not edit) 'active'}} pull-left btn btn-default" disabled={{edit}} {{action (toggle 'edit' this)}}>
        <i class="fa fa-pencil"></i>
        &nbsp;&nbsp;Edit
      </button>
      <button class="{{if edit 'active'}} pull-left btn btn-default" disabled={{not edit}} {{action (toggle 'edit' this)}}>
        <i class="fa fa-eye"></i>
        &nbsp;&nbsp;View
      </button>
      {{#if edit}}
        {{textarea class="form-control" rows=rows value=(mut (get model (concat field.name language))) required=required}}
      {{else}}
        <div style="width: 100%; overflow-y: auto; height:auto; max-height:{{mult rows 1.5}}em;">
          {{markdown-to-html (get model (concat field.name language))}}
        </div>
      {{/if}}
    {{/if}}      
  {{/if}}
{{/base-widget}}
