{{#if is_ready}}
  {{#conditional-display
    condition=field.extra.display_condition
    value=(get model field.extra.display_condition.property_path)
    as |display|
  }}
    {{#if isCollection}}
      {{component
        widgetComponent
        field=field
        model=record
        class=klass
        main=main
        addRelated=addRelated
        editRelated=editRelated
        reloadIfFirst=reloadIfFirst
        readonly=(or (eq field.readonly true) (eq readonly true) (evaluate-condition field.extra.readonly_condition model))
        languages=languages
        fetch_meta=(not field.extra.dont_fetch_meta)
      }}
    {{else}}
      {{component
        widgetComponent
        model=model
        label=label
        class=klass
        property=property
        readonly=(or field.readonly readonly (evaluate-condition field.extra.readonly_condition model))
        horiClass=horiClass
        inputClass=inputClass
        extra=field.extra
        required=(or field.required (and field.extra.display_condition.required display) (evaluate-condition field.extra.required_condition model))
        targetModelName=field.model
        formLayout=formLayout
        field=field
        main=main
        addRelated=addRelated
        editRelated=editRelated
        onChange=onChange
        reloadIfFirst=reloadIfFirst
        languages=languages
        value=(get model property)
      }}
    {{/if}}
  {{/conditional-display}}
{{else}}
  {{is-loading}}
{{/if}}
