{{#if hasPages}}
  <div class="btn-group" role="nav">
    {{#each (repeat pageCount) as |empty index|}}
      <button class="btn btn-default {{if (eq (add index 1) currentPage) 'active'}}" disabled={{eq (add index 1) currentPage}} {{action goToPage (add index 1)}}>
        {{add index 1}}
      </button>
    {{/each}}
  </div>
{{/if}}
